# Node.js
node_modules/

# Express.js
dist/
.env

# Visual Studio Code
.vscode/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
/jspm_packages/
/bower_components/

# Build output
/build/
/out/

# TypeScript
*.tsbuildinfo

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# MongoDB
/data/
/dbpath
/mongod.lock

# Mongoose
/.mongoose/

# Exclude macOS .DS_Store files
.DS_Store

# Optional: Uncomment the following line if you're using Jest in your project
# /coverage/
